{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "vueIndentScriptAndStyle": false,
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "printWidth": 80
      }
    }
  ]
}
